<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.Banner">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="f_sort" jdbcType="INTEGER" property="sort" />
    <result column="f_jump_to" jdbcType="BIGINT" property="jumpTo" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_desc" jdbcType="VARCHAR" property="desc" />
    <result column="f_image_real_name" jdbcType="VARCHAR" property="imageRealName" />
    <result column="f_b_name" jdbcType="VARCHAR" property="bName" />
  </resultMap>

    <resultMap id="VoResultMap" type="com.mq.vo.BannerVo" >
        <id column="f_id" property="id" jdbcType="BIGINT" />
        <result column="f_image_name" property="imageName" jdbcType="VARCHAR" />
        <result column="f_sort" property="sort" jdbcType="INTEGER" />
        <result column="f_jump_to" property="jumpTo" jdbcType="BIGINT" />
        <result column="f_jump_to_name" property="jumpToName" jdbcType="VARCHAR" />
        <result column="f_del_flag" property="delFlag" jdbcType="BIT" />
        <result column="f_created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="f_modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
        <result column="f_desc" property="desc" jdbcType="VARCHAR" />
        <result column="f_image_real_name" property="imageRealName" jdbcType="VARCHAR" />
        <result column="f_b_name" property="bName" jdbcType="VARCHAR" />
    </resultMap>

  <sql id="Base_Column_List">
    f_id, f_image_name, f_sort, f_jump_to, f_del_flag, f_created_time, f_modified_time, 
    f_desc, f_image_real_name, f_b_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_banner
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_banner
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.Banner">
    insert into t_banner (f_id, f_image_name, f_sort, 
      f_jump_to, f_del_flag, f_created_time, 
      f_modified_time, f_desc, f_image_real_name, 
      f_b_name)
    values (#{id,jdbcType=BIGINT}, #{imageName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{jumpTo,jdbcType=BIGINT}, #{delFlag,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR}, #{imageRealName,jdbcType=VARCHAR}, 
      #{bName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.Banner">
    insert into t_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="imageName != null">
        f_image_name,
      </if>
      <if test="sort != null">
        f_sort,
      </if>
      <if test="jumpTo != null">
        f_jump_to,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="desc != null">
        f_desc,
      </if>
      <if test="imageRealName != null">
        f_image_real_name,
      </if>
      <if test="bName != null">
        f_b_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="imageName != null">
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="jumpTo != null">
        #{jumpTo,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="imageRealName != null">
        #{imageRealName,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.Banner">
    update t_banner
    <set>
      <if test="imageName != null">
        f_image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        f_sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="jumpTo != null">
        f_jump_to = #{jumpTo,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        f_desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="imageRealName != null">
        f_image_real_name = #{imageRealName,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        f_b_name = #{bName,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.Banner">
    update t_banner
    set f_image_name = #{imageName,jdbcType=VARCHAR},
      f_sort = #{sort,jdbcType=INTEGER},
      f_jump_to = #{jumpTo,jdbcType=BIGINT},
      f_del_flag = #{delFlag,jdbcType=BIT},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_desc = #{desc,jdbcType=VARCHAR},
      f_image_real_name = #{imageRealName,jdbcType=VARCHAR},
      f_b_name = #{bName,jdbcType=VARCHAR}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByQuery" parameterType="com.mq.query.BannerQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_banner
        where f_del_flag = 0
        <if test="id != null" >
            and f_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="imageName != null" >
            and f_image_name = #{imageName,jdbcType=VARCHAR}
        </if>
        <if test="sort != null" >
            and f_sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="jumpTo != null" >
            and f_jump_to = #{jumpTo,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null" >
            and f_created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeBegin != null" >
            and f_created_time &gt;= #{createdTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeEnd != null" >
            and f_created_time &lt;= #{createdTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTime != null" >
            and f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeBegin != null" >
            and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeEnd != null" >
            and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="desc != null" >
            and f_desc = #{desc,jdbcType=VARCHAR}
        </if>
        <if test="imageRealName != null" >
            and f_image_real_name = #{imageRealName,jdbcType=VARCHAR}
        </if>
        <if test="bName != null" >
            and f_b_name like concat(concat("%",#{bName}),"%")
        </if>
        order by f_sort
    </select>
    <select id="selectVoByQuery" parameterType="com.mq.query.BannerQuery" resultMap="VoResultMap">
        select
        b.f_id, b.f_image_name, b.f_sort, b.f_jump_to, v.f_title as jump_to_name, b.f_del_flag,
        b.f_created_time, b.f_modified_time, b.f_desc, b.f_image_real_name, b.f_b_name
        from t_banner b
        left join t_video v on b.f_jump_to = v.f_id
        where b.f_del_flag = 0
        <if test="id != null" >
            and b.f_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="imageName != null" >
            and b.f_image_name = #{imageName,jdbcType=VARCHAR}
        </if>
        <if test="sort != null" >
            and b.f_sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="jumpTo != null" >
            and b.f_jump_to = #{jumpTo,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null" >
            and b.f_created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeBegin != null" >
            and b.f_created_time &gt;= #{createdTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeEnd != null" >
            and b.f_created_time &lt;= #{createdTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTime != null" >
            and b.f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeBegin != null" >
            and b.f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeEnd != null" >
            and b.f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="desc != null" >
            and b.f_desc = #{desc,jdbcType=VARCHAR}
        </if>
        <if test="imageRealName != null" >
            and b.f_image_real_name = #{imageRealName,jdbcType=VARCHAR}
        </if>
        <if test="bName != null" >
            and b.f_b_name like concat(concat("%",#{bName}),"%")
        </if>
        order by b.f_sort
    </select>
    <select id="selectNums" parameterType="com.mq.query.BannerQuery" resultType="java.lang.Long">
        select count(1) from t_banner
        where f_del_flag = 0
        <if test="id != null" >
            and f_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="imageName != null" >
            and f_image_name = #{imageName,jdbcType=VARCHAR}
        </if>
        <if test="sort != null" >
            and f_sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="jumpTo != null" >
            and f_jump_to = #{jumpTo,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null" >
            and f_created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeBegin != null" >
            and f_created_time &gt;= #{createdTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="createdTimeEnd != null" >
            and f_created_time &lt;= #{createdTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTime != null" >
            and f_modified_time = #{modifiedTimeTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeBegin != null" >
            and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="modifiedTimeEnd != null" >
            and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="desc != null" >
            and f_desc = #{desc,jdbcType=VARCHAR}
        </if>
        <if test="imageRealName != null" >
            and f_image_real_name = #{imageRealName,jdbcType=VARCHAR}
        </if>
        <if test="bName != null" >
            and f_b_name like concat(concat("%",#{bName}),"%")
        </if>
    </select>
</mapper>