<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.Employee">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_e_name" jdbcType="VARCHAR" property="eName" />
    <result column="f_gender" jdbcType="INTEGER" property="gender" />
    <result column="f_birth" jdbcType="DATE" property="birth" />
    <result column="f_age" jdbcType="INTEGER" property="age" />
    <result column="f_avatar_real_name" jdbcType="VARCHAR" property="avatarRealName" />
    <result column="f_avatar_name" jdbcType="VARCHAR" property="avatarName" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
    <result column="f_password" jdbcType="VARCHAR" property="password" />
    <result column="f_username" jdbcType="VARCHAR" property="username" />
    <result column="f_email" jdbcType="VARCHAR" property="email" />
    <result column="f_mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="f_open_id" jdbcType="VARCHAR" property="openId" />
    <result column="f_profit_rate" jdbcType="DECIMAL" property="profitRate" />
    <result column="f_payment_share_receiver" jdbcType="BIT" property="paymentShareReceiver" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_e_name, f_gender, f_birth, f_age, f_avatar_real_name, f_avatar_name, f_created_time, 
    f_modified_time, f_del_flag, f_password, f_username, f_email, f_mobile, f_open_id,
    f_profit_rate, f_payment_share_receiver
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_employee
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_employee
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.Employee">
    insert into t_employee (f_id, f_e_name, f_gender, 
      f_birth, f_age, f_avatar_real_name, 
      f_avatar_name, f_created_time, f_modified_time, 
      f_del_flag, f_password, f_username, 
      f_email, f_mobile, f_open_id, f_profit_rate,
      f_payment_share_receiver
      )
    values (#{id,jdbcType=BIGINT}, #{eName,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
      #{birth,jdbcType=DATE}, #{age,jdbcType=INTEGER}, #{avatarRealName,jdbcType=VARCHAR}, 
      #{avatarName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=BIT}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},
      #{profitRate,jdbcType=DECIMAL}, #{paymentShareReceiver,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.Employee">
    insert into t_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="eName != null">
        f_e_name,
      </if>
      <if test="gender != null">
        f_gender,
      </if>
      <if test="birth != null">
        f_birth,
      </if>
      <if test="age != null">
        f_age,
      </if>
      <if test="avatarRealName != null">
        f_avatar_real_name,
      </if>
      <if test="avatarName != null">
        f_avatar_name,
      </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
      <if test="password != null">
        f_password,
      </if>
      <if test="username != null">
        f_username,
      </if>
      <if test="email != null">
        f_email,
      </if>
      <if test="mobile != null">
        f_mobile,
      </if>
      <if test="openId != null">
        f_open_id,
      </if>
        <if test="profitRate != null">
            f_profit_rate,
        </if>
      <if test="paymentShareReceiver != null">
        f_payment_share_receiver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eName != null">
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="avatarRealName != null">
        #{avatarRealName,jdbcType=VARCHAR},
      </if>
      <if test="avatarName != null">
        #{avatarName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
        <if test="profitRate != null">
            #{profitRate,jdbcType=DECIMAL},
        </if>
      <if test="paymentShareReceiver != null">
        #{paymentShareReceiver,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.Employee">
    update t_employee
    <set>
      <if test="eName != null">
        f_e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        f_gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        f_birth = #{birth,jdbcType=DATE},
      </if>
      <if test="age != null">
        f_age = #{age,jdbcType=INTEGER},
      </if>
      <if test="avatarRealName != null">
        f_avatar_real_name = #{avatarRealName,jdbcType=VARCHAR},
      </if>
      <if test="avatarName != null">
        f_avatar_name = #{avatarName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="password != null">
        f_password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        f_username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        f_email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        f_mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        f_open_id = #{openId,jdbcType=VARCHAR},
      </if>
        <if test="profitRate != null">
            f_profit_rate = #{profitRate,jdbcType=DECIMAL},
        </if>
      <if test="paymentShareReceiver != null">
        f_payment_share_receiver = #{paymentShareReceiver,jdbcType=BIT},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.Employee">
    update t_employee
    set f_e_name = #{eName,jdbcType=VARCHAR},
      f_gender = #{gender,jdbcType=INTEGER},
      f_birth = #{birth,jdbcType=DATE},
      f_age = #{age,jdbcType=INTEGER},
      f_avatar_real_name = #{avatarRealName,jdbcType=VARCHAR},
      f_avatar_name = #{avatarName,jdbcType=VARCHAR},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_del_flag = #{delFlag,jdbcType=BIT},
      f_password = #{password,jdbcType=VARCHAR},
      f_username = #{username,jdbcType=VARCHAR},
      f_email = #{email,jdbcType=VARCHAR},
      f_mobile = #{mobile,jdbcType=VARCHAR},
      f_open_id = #{openId,jdbcType=VARCHAR},
      f_profit_rate = #{profitRate,jdbcType=DECIMAL},
      f_payment_share_receiver = #{paymentShareReceiver,jdbcType=BIT}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_employee
    where f_username = #{username,jdbcType=VARCHAR}
    and f_del_flag = 0;
  </select>

  <select id="selectByQuery" parameterType="com.mq.query.EmployeeQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_employee
    where f_del_flag = 0
    <if test="id != null">
      and f_id = #{id,jdbcType=BIGINT}
    </if>
    <if test="eName != null and eName != ''">
      and f_e_name = #{eName,jdbcType=VARCHAR}
    </if>
    <if test="searchName != null and searchName != ''">
      and f_e_name like concat(concat("%",#{searchName}),"%") or f_username like concat(concat("%",#{searchName}),"%")
    </if>
    <if test="gender != null and gender != ''">
      and f_gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="birth != null">
      and f_birth = #{birth,jdbcType=DATE}
    </if>
    <if test="birthBegin != null">
      and f_birth &gt;= #{birthBegin,jdbcType=DATE}
    </if>
    <if test="birthEnd != null">
      and f_birth &lt;= #{birthEnd,jdbcType=DATE}
    </if>
    <if test="age != null">
      and f_age = #{age,jdbcType=INTEGER}
    </if>
    <if test="avatarRealName != null and avatarRealName != ''">
      and f_avatar_real_name = #{avatarRealName,jdbcType=VARCHAR}
    </if>
    <if test="createdTime != null">
      and f_created_time = #{createdTime,jdbcType=DATE}
    </if>
    <if test="createdTimeBegin != null">
      and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
    </if>
    <if test="createdTimeEnd != null">
      and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
    </if>
    <if test="modifiedTime != null">
      and f_modified_time = #{modifiedTime,jdbcType=DATE}
    </if>
    <if test="modifiedTimeBegin != null">
      and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
    </if>
    <if test="modifiedTimeEnd != null">
      and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
    </if>
    <if test="delFlag != null">
      and f_del_flag = #{delFlag,jdbcType=BIT}
    </if>
    <if test="password != null and password != ''">
      and f_password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="username != null and username != ''">
      and f_username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="email != null and email != ''">
      and f_email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null and mobile != ''">
      and f_mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="openId != null and openId != ''">
      and f_open_id = #{openId,jdbcType=VARCHAR}
    </if>
      <if test="profitRate != null and profitRate != ''">
          and f_profit_rate = #{profitRate,jdbcType=DECIMAL}
      </if>
    <if test="avatarName != null and avatarName != ''">
      and f_avatar_name = #{avatarName,jdbcType=VARCHAR}
    </if>
    <if test="paymentShareReceiver != null and paymentShareReceiver != ''">
      and f_payment_share_receiver = #{paymentShareReceiver,jdbcType=BIT}
    </if>
  </select>
  <select id="selectNums" parameterType="com.mq.query.EmployeeQuery" resultType="java.lang.Long">
    select count(1) from t_employee
    where f_del_flag = 0
    <if test="id != null">
      and f_id = #{id,jdbcType=BIGINT}
    </if>
    <if test="eName != null and eName != ''">
      and f_e_name = #{eName,jdbcType=VARCHAR}
    </if>
    <if test="searchName != null and searchName != ''">
      and f_e_name like concat(concat("%",#{searchName}),"%") or f_username like concat(concat("%",#{searchName}),"%")
    </if>
    <if test="gender != null and gender != ''">
      and f_gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="birth != null">
      and f_birth = #{birth,jdbcType=DATE}
    </if>
    <if test="birthBegin != null">
      and f_birth &gt;= #{birthBegin,jdbcType=DATE}
    </if>
    <if test="birthEnd != null">
      and f_birth &lt;= #{birthEnd,jdbcType=DATE}
    </if>
    <if test="age != null">
      and f_age = #{age,jdbcType=INTEGER}
    </if>
    <if test="avatarRealName != null and avatarRealName != ''">
      and f_avatar_real_name = #{avatarRealName,jdbcType=VARCHAR}
    </if>
    <if test="createdTime != null">
      and f_created_time = #{createdTime,jdbcType=DATE}
    </if>
    <if test="createdTimeBegin != null">
      and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
    </if>
    <if test="createdTimeEnd != null">
      and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
    </if>
    <if test="modifiedTime != null">
      and f_modified_time = #{modifiedTime,jdbcType=DATE}
    </if>
    <if test="modifiedTimeBegin != null">
      and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
    </if>
    <if test="modifiedTimeEnd != null">
      and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
    </if>
    <if test="delFlag != null">
      and f_del_flag = #{delFlag,jdbcType=INTEGER}
    </if>
    <if test="password != null and password != ''">
      and f_password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="username != null and username != ''">
      and f_username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="email != null and email != ''">
      and f_email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null and mobile != ''">
      and f_mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="openId != null and openId != ''">
      and f_open_id = #{openId,jdbcType=VARCHAR}
    </if>
      <if test="profitRate != null and profitRate != ''">
          and f_profit_rate = #{profitRate,jdbcType=DECIMAL}
      </if>
    <if test="avatarName != null and avatarName != ''">
      and f_avatar_name = #{avatarName,jdbcType=VARCHAR}
    </if>
    <if test="paymentShareReceiver != null and paymentShareReceiver != ''">
      and f_payment_share_receiver = #{paymentShareReceiver,jdbcType=BIT}
    </if>
  </select>
</mapper>