<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.EmpMenuMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.EmpMenu">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_eid" jdbcType="BIGINT" property="eid" />
    <result column="f_mid" jdbcType="BIGINT" property="mid" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_eid, f_mid, f_created_time, f_modified_time, f_del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_emp_menu
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_emp_menu
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.EmpMenu">
    insert into t_emp_menu (f_id, f_eid, f_mid, f_created_time, 
      f_modified_time, f_del_flag)
    values (#{id,jdbcType=BIGINT}, #{eid,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.EmpMenu">
    insert into t_emp_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="eid != null">
        f_eid,
      </if>
      <if test="mid != null">
        f_mid,
      </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=BIGINT},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.EmpMenu">
    update t_emp_menu
    <set>
      <if test="eid != null">
        f_eid = #{eid,jdbcType=BIGINT},
      </if>
      <if test="mid != null">
        f_mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.EmpMenu">
    update t_emp_menu
    set f_eid = #{eid,jdbcType=BIGINT},
      f_mid = #{mid,jdbcType=BIGINT},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_del_flag = #{delFlag,jdbcType=BIT}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectMenusByEmpId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    f_mid
    from t_emp_menu
    where f_eid = #{eid,jdbcType=BIGINT}
  </select>

  <delete id="deleteByEid" parameterType="java.lang.Long">
    delete from t_emp_menu
    where f_eid = #{eid,jdbcType=BIGINT}
  </delete>
  <insert id="insertBatch">
    insert into t_emp_menu (f_id, f_eid, f_mid, f_created_time,
      f_modified_time, f_del_flag)
    values
    <foreach collection="list" item="emm" separator=",">
      (#{emm.id}, #{emm.eid}, #{emm.mid}, #{emm.createdTime},
      #{emm.modifiedTime}, #{emm.delFlag})
    </foreach>
  </insert>
</mapper>