<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.PaymentResultMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.PaymentResult">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="f_return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="f_appid" jdbcType="VARCHAR" property="appid" />
    <result column="f_mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="f_device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="f_nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="f_sign" jdbcType="VARCHAR" property="sign" />
    <result column="f_sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="f_result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="f_err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="f_err_code_desc" jdbcType="VARCHAR" property="errCodeDesc" />
    <result column="f_openid" jdbcType="VARCHAR" property="openid" />
    <result column="f_is_subscribe" jdbcType="VARCHAR" property="isSubscribe" />
    <result column="f_trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="f_bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="f_total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="f_settlement_total_fee" jdbcType="INTEGER" property="settlementTotalFee" />
    <result column="f_fee_type" jdbcType="VARCHAR" property="feeType" />
    <result column="f_cash_fee" jdbcType="INTEGER" property="cashFee" />
    <result column="f_cash_fee_type" jdbcType="VARCHAR" property="cashFeeType" />
    <result column="f_transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="f_out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="f_attach" jdbcType="VARCHAR" property="attach" />
    <result column="f_time_end" jdbcType="TIMESTAMP" property="timeEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_return_code, f_return_msg, f_appid, f_mch_id, f_device_info, f_nonce_str, 
    f_sign, f_sign_type, f_result_code, f_err_code, f_err_code_desc, f_openid, f_is_subscribe, 
    f_trade_type, f_bank_type, f_total_fee, f_settlement_total_fee, f_fee_type, f_cash_fee, 
    f_cash_fee_type, f_transaction_id, f_out_trade_no, f_attach, f_time_end
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_payment_result
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_payment_result
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.PaymentResult">
    insert into t_payment_result (f_id, f_return_code, f_return_msg, 
      f_appid, f_mch_id, f_device_info, 
      f_nonce_str, f_sign, f_sign_type, 
      f_result_code, f_err_code, f_err_code_desc, 
      f_openid, f_is_subscribe, f_trade_type, 
      f_bank_type, f_total_fee, f_settlement_total_fee, 
      f_fee_type, f_cash_fee, f_cash_fee_type, 
      f_transaction_id, f_out_trade_no, f_attach, 
      f_time_end)
    values (#{id,jdbcType=BIGINT}, #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, 
      #{nonceStr,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, 
      #{resultCode,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{errCodeDesc,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{isSubscribe,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{totalFee,jdbcType=INTEGER}, #{settlementTotalFee,jdbcType=INTEGER}, 
      #{feeType,jdbcType=VARCHAR}, #{cashFee,jdbcType=INTEGER}, #{cashFeeType,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{timeEnd,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.PaymentResult">
    insert into t_payment_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="returnCode != null">
        f_return_code,
      </if>
      <if test="returnMsg != null">
        f_return_msg,
      </if>
      <if test="appid != null">
        f_appid,
      </if>
      <if test="mchId != null">
        f_mch_id,
      </if>
      <if test="deviceInfo != null">
        f_device_info,
      </if>
      <if test="nonceStr != null">
        f_nonce_str,
      </if>
      <if test="sign != null">
        f_sign,
      </if>
      <if test="signType != null">
        f_sign_type,
      </if>
      <if test="resultCode != null">
        f_result_code,
      </if>
      <if test="errCode != null">
        f_err_code,
      </if>
      <if test="errCodeDesc != null">
        f_err_code_desc,
      </if>
      <if test="openid != null">
        f_openid,
      </if>
      <if test="isSubscribe != null">
        f_is_subscribe,
      </if>
      <if test="tradeType != null">
        f_trade_type,
      </if>
      <if test="bankType != null">
        f_bank_type,
      </if>
      <if test="totalFee != null">
        f_total_fee,
      </if>
      <if test="settlementTotalFee != null">
        f_settlement_total_fee,
      </if>
      <if test="feeType != null">
        f_fee_type,
      </if>
      <if test="cashFee != null">
        f_cash_fee,
      </if>
      <if test="cashFeeType != null">
        f_cash_fee_type,
      </if>
      <if test="transactionId != null">
        f_transaction_id,
      </if>
      <if test="outTradeNo != null">
        f_out_trade_no,
      </if>
      <if test="attach != null">
        f_attach,
      </if>
      <if test="timeEnd != null">
        f_time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDesc != null">
        #{errCodeDesc,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null">
        #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="settlementTotalFee != null">
        #{settlementTotalFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null">
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null">
        #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.PaymentResult">
    update t_payment_result
    <set>
      <if test="returnCode != null">
        f_return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        f_return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        f_appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        f_mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        f_device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        f_sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        f_sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        f_result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        f_err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDesc != null">
        f_err_code_desc = #{errCodeDesc,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        f_openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null">
        f_is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        f_trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        f_bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        f_total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="settlementTotalFee != null">
        f_settlement_total_fee = #{settlementTotalFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null">
        f_fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        f_cash_fee = #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null">
        f_cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        f_transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        f_out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        f_attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        f_time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.PaymentResult">
    update t_payment_result
    set f_return_code = #{returnCode,jdbcType=VARCHAR},
      f_return_msg = #{returnMsg,jdbcType=VARCHAR},
      f_appid = #{appid,jdbcType=VARCHAR},
      f_mch_id = #{mchId,jdbcType=VARCHAR},
      f_device_info = #{deviceInfo,jdbcType=VARCHAR},
      f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      f_sign = #{sign,jdbcType=VARCHAR},
      f_sign_type = #{signType,jdbcType=VARCHAR},
      f_result_code = #{resultCode,jdbcType=VARCHAR},
      f_err_code = #{errCode,jdbcType=VARCHAR},
      f_err_code_desc = #{errCodeDesc,jdbcType=VARCHAR},
      f_openid = #{openid,jdbcType=VARCHAR},
      f_is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      f_trade_type = #{tradeType,jdbcType=VARCHAR},
      f_bank_type = #{bankType,jdbcType=VARCHAR},
      f_total_fee = #{totalFee,jdbcType=INTEGER},
      f_settlement_total_fee = #{settlementTotalFee,jdbcType=INTEGER},
      f_fee_type = #{feeType,jdbcType=VARCHAR},
      f_cash_fee = #{cashFee,jdbcType=INTEGER},
      f_cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      f_transaction_id = #{transactionId,jdbcType=VARCHAR},
      f_out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      f_attach = #{attach,jdbcType=VARCHAR},
      f_time_end = #{timeEnd,jdbcType=TIMESTAMP}
    where f_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>