<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.ShareCardMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.ShareCard">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_user_id" jdbcType="BIGINT" property="userId" />
    <result column="f_skey" jdbcType="VARCHAR" property="skey" />
    <result column="f_share_card_real_name" jdbcType="VARCHAR" property="shareCardRealName" />
    <result column="f_goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="f_goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="f_goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="f_profit_share" jdbcType="DECIMAL" property="profitShare" />
    <result column="f_profit_sale" jdbcType="DECIMAL" property="profitSale" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_user_id, f_skey, f_share_card_real_name, f_goods_id, f_goods_type, f_goods_price, 
    f_profit_share, f_profit_sale, f_created_time, f_modified_time, f_del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_share_card
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_share_card
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.ShareCard">
    insert into t_share_card (f_id, f_user_id, f_skey, 
      f_share_card_real_name, f_goods_id, f_goods_type, 
      f_goods_price, f_profit_share, f_profit_sale, f_created_time,
      f_modified_time, f_del_flag)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{skey,jdbcType=VARCHAR}, 
      #{shareCardRealName,jdbcType=VARCHAR}, #{goodsId,jdbcType=BIGINT}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{profitShare,jdbcType=DECIMAL}, #{profitSale,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP},
      #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.ShareCard">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_share_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="userId != null">
        f_user_id,
      </if>
      <if test="skey != null">
        f_skey,
      </if>
      <if test="shareCardRealName != null">
        f_share_card_real_name,
      </if>
      <if test="goodsId != null">
        f_goods_id,
      </if>
      <if test="goodsType != null">
        f_goods_type,
      </if>
      <if test="goodsPrice != null">
        f_goods_price,
      </if>
      <if test="profitShare != null">
        f_profit_share,
      </if>
        <if test="profitSale != null">
            f_profit_sale,
        </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="skey != null">
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="shareCardRealName != null">
        #{shareCardRealName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="profitShare != null">
        #{profitShare,jdbcType=DECIMAL},
      </if>
        <if test="profitSale != null">
            #{profitSale,jdbcType=DECIMAL},
        </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.ShareCard">
    update t_share_card
    <set>
      <if test="userId != null">
        f_user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="skey != null">
        f_skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="shareCardRealName != null">
        f_share_card_real_name = #{shareCardRealName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        f_goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsType != null">
        f_goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        f_goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="profitShare != null">
        f_profit_share = #{profitShare,jdbcType=DECIMAL},
      </if>
        <if test="profitSale != null">
            f_profit_sale = #{profitSale,jdbcType=DECIMAL},
        </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.ShareCard">
    update t_share_card
    set f_user_id = #{userId,jdbcType=BIGINT},
      f_skey = #{skey,jdbcType=VARCHAR},
      f_share_card_real_name = #{shareCardRealName,jdbcType=VARCHAR},
      f_goods_id = #{goodsId,jdbcType=BIGINT},
      f_goods_type = #{goodsType,jdbcType=VARCHAR},
      f_goods_price = #{goodsPrice,jdbcType=DECIMAL},
      f_profit_share = #{profitShare,jdbcType=DECIMAL},
      f_profit_sale = #{profitSale,jdbcType=DECIMAL},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_del_flag = #{delFlag,jdbcType=BIT}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectOneByUserIdAndGoodsId" parameterType="com.mq.query.ShareCardQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_share_card
    where
    f_del_flag = 0
    and f_user_id = #{userId, jdbcType=BIGINT}
    and f_goods_id = #{goodsId, jdbcType=BIGINT}
    and f_goods_type = #{goodsType, jdbcType=VARCHAR}
  </select>
</mapper>