<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.UnifiedOrderResponseMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.UnifiedOrderResponse">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="f_return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="f_appid" jdbcType="VARCHAR" property="appid" />
    <result column="f_mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="f_nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="f_sign" jdbcType="VARCHAR" property="sign" />
    <result column="f_result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="f_prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="f_trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="f_err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="f_err_code_desc" jdbcType="VARCHAR" property="errCodeDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_return_code, f_return_msg, f_appid, f_mch_id, f_nonce_str, f_sign, f_result_code, 
    f_prepay_id, f_trade_type, f_err_code, f_err_code_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_unified_order_response
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_unified_order_response
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.UnifiedOrderResponse">
    insert into t_unified_order_response (f_id, f_return_code, f_return_msg, 
      f_appid, f_mch_id, f_nonce_str, 
      f_sign, f_result_code, f_prepay_id, 
      f_trade_type, f_err_code, f_err_code_desc
      )
    values (#{id,jdbcType=BIGINT}, #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, #{prepayId,jdbcType=VARCHAR}, 
      #{tradeType,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{errCodeDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.UnifiedOrderResponse">
    insert into t_unified_order_response
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="returnCode != null">
        f_return_code,
      </if>
      <if test="returnMsg != null">
        f_return_msg,
      </if>
      <if test="appid != null">
        f_appid,
      </if>
      <if test="mchId != null">
        f_mch_id,
      </if>
      <if test="nonceStr != null">
        f_nonce_str,
      </if>
      <if test="sign != null">
        f_sign,
      </if>
      <if test="resultCode != null">
        f_result_code,
      </if>
      <if test="prepayId != null">
        f_prepay_id,
      </if>
      <if test="tradeType != null">
        f_trade_type,
      </if>
      <if test="errCode != null">
        f_err_code,
      </if>
      <if test="errCodeDesc != null">
        f_err_code_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDesc != null">
        #{errCodeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.UnifiedOrderResponse">
    update t_unified_order_response
    <set>
      <if test="returnCode != null">
        f_return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        f_return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        f_appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        f_mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        f_sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        f_result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        f_prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        f_trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        f_err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDesc != null">
        f_err_code_desc = #{errCodeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.UnifiedOrderResponse">
    update t_unified_order_response
    set f_return_code = #{returnCode,jdbcType=VARCHAR},
      f_return_msg = #{returnMsg,jdbcType=VARCHAR},
      f_appid = #{appid,jdbcType=VARCHAR},
      f_mch_id = #{mchId,jdbcType=VARCHAR},
      f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      f_sign = #{sign,jdbcType=VARCHAR},
      f_result_code = #{resultCode,jdbcType=VARCHAR},
      f_prepay_id = #{prepayId,jdbcType=VARCHAR},
      f_trade_type = #{tradeType,jdbcType=VARCHAR},
      f_err_code = #{errCode,jdbcType=VARCHAR},
      f_err_code_desc = #{errCodeDesc,jdbcType=VARCHAR}
    where f_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>