<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.UnifiedOrderRequestMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.UnifiedOrderRequest">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_appid" jdbcType="VARCHAR" property="appid" />
    <result column="f_body" jdbcType="VARCHAR" property="body" />
    <result column="f_mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="f_nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="f_notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="f_openid" jdbcType="VARCHAR" property="openid" />
    <result column="f_out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="f_spbill_create_ip" jdbcType="VARCHAR" property="spbillCreateIp" />
    <result column="f_total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="f_trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="f_attach" jdbcType="VARCHAR" property="attach" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_appid, f_body, f_mch_id, f_nonce_str, f_notify_url, f_openid, f_out_trade_no, 
    f_spbill_create_ip, f_total_fee, f_trade_type, f_attach
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_unified_order_request
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_unified_order_request
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.UnifiedOrderRequest">
    insert into t_unified_order_request (f_id, f_appid, f_body, 
      f_mch_id, f_nonce_str, f_notify_url, 
      f_openid, f_out_trade_no, f_spbill_create_ip, 
      f_total_fee, f_trade_type, f_attach
      )
    values (#{id,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, 
      #{mchId,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{spbillCreateIp,jdbcType=VARCHAR}, 
      #{totalFee,jdbcType=INTEGER}, #{tradeType,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.UnifiedOrderRequest">
    insert into t_unified_order_request
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="appid != null">
        f_appid,
      </if>
      <if test="body != null">
        f_body,
      </if>
      <if test="mchId != null">
        f_mch_id,
      </if>
      <if test="nonceStr != null">
        f_nonce_str,
      </if>
      <if test="notifyUrl != null">
        f_notify_url,
      </if>
      <if test="openid != null">
        f_openid,
      </if>
      <if test="outTradeNo != null">
        f_out_trade_no,
      </if>
      <if test="spbillCreateIp != null">
        f_spbill_create_ip,
      </if>
      <if test="totalFee != null">
        f_total_fee,
      </if>
      <if test="tradeType != null">
        f_trade_type,
      </if>
      <if test="attach != null">
        f_attach,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="spbillCreateIp != null">
        #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.UnifiedOrderRequest">
    update t_unified_order_request
    <set>
      <if test="appid != null">
        f_appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        f_body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        f_mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        f_notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        f_openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        f_out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="spbillCreateIp != null">
        f_spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        f_total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null">
        f_trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        f_attach = #{attach,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.UnifiedOrderRequest">
    update t_unified_order_request
    set f_appid = #{appid,jdbcType=VARCHAR},
      f_body = #{body,jdbcType=VARCHAR},
      f_mch_id = #{mchId,jdbcType=VARCHAR},
      f_nonce_str = #{nonceStr,jdbcType=VARCHAR},
      f_notify_url = #{notifyUrl,jdbcType=VARCHAR},
      f_openid = #{openid,jdbcType=VARCHAR},
      f_out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      f_spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
      f_total_fee = #{totalFee,jdbcType=INTEGER},
      f_trade_type = #{tradeType,jdbcType=VARCHAR},
      f_attach = #{attach,jdbcType=VARCHAR}
    where f_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>