<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mq.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.mq.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="session_key" property="sessionKey" jdbcType="VARCHAR" />
    <result column="skey" property="skey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, country, gender, province, city, avatar_url, open_id, nick_name, `language`, session_key,
    skey, create_time, update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.User" >
    insert into t_user (id, country, gender, 
      province, city, avatar_url, 
      open_id, nick_name, `language`,
      session_key, skey, create_time, 
      update_time, del_flag)
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{sessionKey,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.User" >
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="language != null" >
        `language`,
      </if>
      <if test="sessionKey != null" >
        session_key,
      </if>
      <if test="skey != null" >
        skey,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.User" >
    update t_user
    <set >
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        `language` = #{language,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.User" >
    update t_user
    set country = #{country,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      `language` = #{language,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      skey = #{skey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where open_id = #{openId,jdbcType=VARCHAR}
    and del_flag = 0
  </select>

  <select id="selectByQuery" parameterType="com.mq.query.UserQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user where del_flag = 0
    <if test="country != null" >
      and country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="gender != null" >
      and gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="province != null" >
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="city != null" >
      and city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="avatarUrl != null" >
      and avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    </if>
    <if test="openId != null" >
      and open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null" >
      and nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="language != null" >
      and `language` = #{language,jdbcType=VARCHAR}
    </if>
    <if test="sessionKey != null" >
      and session_key = #{sessionKey,jdbcType=VARCHAR}
    </if>
    <if test="skey != null" >
      and skey = #{skey,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeBegin != null" >
      and create_time &gt;= #{createTimeBegin,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeEnd != null" >
      and create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTimeBegin != null" >
      and update_time &gt;= #{updateTimeBegin,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTimeEnd != null" >
      and update_time &lt;= #{updateTimeEnd,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectNums" parameterType="com.mq.query.UserQuery" resultType="java.lang.Long">
    select count(1)
    from t_user where del_flag = 0
    <if test="country != null" >
      and country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="gender != null" >
      and gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="province != null" >
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="city != null" >
      and city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="avatarUrl != null" >
      and avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    </if>
    <if test="openId != null" >
      and open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null" >
      and nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="language != null" >
      and `language` = #{language,jdbcType=VARCHAR}
    </if>
    <if test="sessionKey != null" >
      and session_key = #{sessionKey,jdbcType=VARCHAR}
    </if>
    <if test="skey != null" >
      and skey = #{skey,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeBegin != null" >
      and create_time &gt;= #{createTimeBegin,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeEnd != null" >
      and create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTimeBegin != null" >
      and update_time &gt;= #{updateTimeBegin,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTimeEnd != null" >
      and update_time &lt;= #{updateTimeEnd,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>