<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.User">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_country" jdbcType="VARCHAR" property="country" />
    <result column="f_gender" jdbcType="BIT" property="gender" />
    <result column="f_province" jdbcType="VARCHAR" property="province" />
    <result column="f_city" jdbcType="VARCHAR" property="city" />
    <result column="f_avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="f_open_id" jdbcType="VARCHAR" property="openId" />
    <result column="f_nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="f_language" jdbcType="VARCHAR" property="language" />
    <result column="f_session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="f_skey" jdbcType="VARCHAR" property="skey" />
    <result column="f_referrer" jdbcType="BIGINT" property="referrer" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>

    <resultMap id="VoResultMap" type="com.mq.vo.UserVo">
        <id column="f_id" jdbcType="BIGINT" property="id" />
        <result column="f_country" jdbcType="VARCHAR" property="country" />
        <result column="f_gender" jdbcType="INTEGER" property="gender" />
        <result column="f_province" jdbcType="VARCHAR" property="province" />
        <result column="f_city" jdbcType="VARCHAR" property="city" />
        <result column="f_avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
        <result column="f_nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="f_language" jdbcType="VARCHAR" property="language" />
        <result column="f_referrer" jdbcType="BIGINT" property="referrer" />
        <result column="f_referrer_name" jdbcType="VARCHAR" property="referrerName" />
        <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
    </resultMap>

  <sql id="Base_Column_List">
    f_id, f_country, f_gender, f_province, f_city, f_avatar_url, f_open_id, f_nick_name, 
    f_language, f_session_key, f_skey, f_referrer, f_created_time, f_modified_time, f_del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.User">
    insert into t_user (f_id, f_country, f_gender, 
      f_province, f_city, f_avatar_url, 
      f_open_id, f_nick_name, f_language, 
      f_session_key, f_skey, f_referrer, 
      f_created_time, f_modified_time, f_del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{sessionKey,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{referrer,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="country != null">
        f_country,
      </if>
      <if test="gender != null">
        f_gender,
      </if>
      <if test="province != null">
        f_province,
      </if>
      <if test="city != null">
        f_city,
      </if>
      <if test="avatarUrl != null">
        f_avatar_url,
      </if>
      <if test="openId != null">
        f_open_id,
      </if>
      <if test="nickName != null">
        f_nick_name,
      </if>
      <if test="language != null">
        f_language,
      </if>
      <if test="sessionKey != null">
        f_session_key,
      </if>
      <if test="skey != null">
        f_skey,
      </if>
      <if test="referrer != null">
        f_referrer,
      </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null">
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null">
        #{referrer,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.User">
    update t_user
    <set>
      <if test="country != null">
        f_country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        f_gender = #{gender,jdbcType=BIT},
      </if>
      <if test="province != null">
        f_province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        f_city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        f_avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        f_open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        f_nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        f_language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        f_session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null">
        f_skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null">
        f_referrer = #{referrer,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.User">
    update t_user
    set f_country = #{country,jdbcType=VARCHAR},
      f_gender = #{gender,jdbcType=BIT},
      f_province = #{province,jdbcType=VARCHAR},
      f_city = #{city,jdbcType=VARCHAR},
      f_avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      f_open_id = #{openId,jdbcType=VARCHAR},
      f_nick_name = #{nickName,jdbcType=VARCHAR},
      f_language = #{language,jdbcType=VARCHAR},
      f_session_key = #{sessionKey,jdbcType=VARCHAR},
      f_skey = #{skey,jdbcType=VARCHAR},
      f_referrer = #{referrer,jdbcType=BIGINT},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_del_flag = #{delFlag,jdbcType=BIT}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where f_open_id = #{openId,jdbcType=VARCHAR}
    and f_del_flag = 0
  </select>

  <select id="selectByQuery" parameterType="com.mq.query.UserQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user where f_del_flag = 0
    <if test="country != null">
      and f_country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="gender != null">
      and f_gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="province != null">
      and f_province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="city != null">
      and f_city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="avatarUrl != null">
      and f_avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    </if>
    <if test="openId != null">
      and f_open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null and nickName != ''">
      and f_nick_name like concat(concat("%",#{nickName}),"%")
    </if>
    <if test="language != null">
      and f_language = #{language,jdbcType=VARCHAR}
    </if>
    <if test="sessionKey != null">
      and f_session_key = #{sessionKey,jdbcType=VARCHAR}
    </if>
    <if test="skey != null">
      and f_skey = #{skey,jdbcType=VARCHAR}
    </if>
    <if test="referrer != null">
      and f_referrer = #{referrer,jdbcType=BIGINT}
    </if>
      <if test="createdTime != null">
          and f_created_time = #{createdTime,jdbcType=DATE}
      </if>
      <if test="createdTimeBegin != null">
          and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
      </if>
      <if test="createdTimeEnd != null">
          and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
      </if>
      <if test="modifiedTime != null">
          and f_modified_time = #{modifiedTime,jdbcType=DATE}
      </if>
      <if test="modifiedTimeBegin != null">
          and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
      </if>
      <if test="modifiedTimeEnd != null">
          and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
      </if>
  </select>

  <select id="selectVoByQuery" parameterType="com.mq.query.UserQuery" resultMap="VoResultMap">
    select
    u1.f_id, u1.f_country, u1.f_gender, u1.f_province, u1.f_city, u1.f_avatar_url, u1.f_nick_name, u1.f_language,
    u1.f_referrer, u2.f_nick_name as f_referrer_name, u1.f_created_time, u1.f_modified_time, u1.f_del_flag
    from t_user u1
    left join t_user u2 on u1.f_referrer = u2.id
    where u1.f_del_flag = 0
    <if test="country != null">
      and u1.f_country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="gender != null">
      and u1.f_gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="province != null">
      and u1.f_province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="city != null">
      and u1.f_city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="avatarUrl != null">
      and u1.f_avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    </if>
    <if test="openId != null">
      and u1.f_open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null and nickName != ''">
      and u1.f_nick_name like concat(concat("%",#{nickName}),"%")
    </if>
    <if test="language != null">
      and u1.f_language = #{language,jdbcType=VARCHAR}
    </if>
    <if test="sessionKey != null">
      and u1.f_session_key = #{sessionKey,jdbcType=VARCHAR}
    </if>
    <if test="skey != null">
      and u1.f_skey = #{skey,jdbcType=VARCHAR}
    </if>
    <if test="referrer != null">
      and u1.f_referrer = #{referrer,jdbcType=BIGINT}
    </if>
      <if test="createdTime != null">
          and u1.f_created_time = #{createdTime,jdbcType=DATE}
      </if>
      <if test="createdTimeBegin != null">
          and u1.f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
      </if>
      <if test="createdTimeEnd != null">
          and u1.f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
      </if>
      <if test="modifiedTime != null">
          and u1.f_modified_time = #{modifiedTime,jdbcType=DATE}
      </if>
      <if test="modifiedTimeBegin != null">
          and u1.f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
      </if>
      <if test="modifiedTimeEnd != null">
          and u1.f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
      </if>
  </select>

  <select id="selectNums" parameterType="com.mq.query.UserQuery" resultType="java.lang.Long">
    select count(1)
    from t_user where f_del_flag = 0
    <if test="country != null">
      and f_country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="gender != null">
      and f_gender = #{gender,jdbcType=INTEGER}
    </if>
    <if test="province != null">
      and f_province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="city != null">
      and f_city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="avatarUrl != null">
      and f_avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    </if>
    <if test="openId != null">
      and f_open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null and nickName != ''">
      and f_nick_name like concat(concat("%",#{nickName}),"%")
    </if>
    <if test="language != null">
      and f_language = #{language,jdbcType=VARCHAR}
    </if>
    <if test="sessionKey != null">
      and f_session_key = #{sessionKey,jdbcType=VARCHAR}
    </if>
    <if test="skey != null">
      and f_skey = #{skey,jdbcType=VARCHAR}
    </if>
    <if test="referrer != null">
      and f_referrer = #{referrer,jdbcType=BIGINT}
    </if>
      <if test="createdTime != null">
          and f_created_time = #{createdTime,jdbcType=DATE}
      </if>
      <if test="createdTimeBegin != null">
          and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
      </if>
      <if test="createdTimeEnd != null">
          and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
      </if>
      <if test="modifiedTime != null">
          and f_modified_time = #{modifiedTime,jdbcType=DATE}
      </if>
      <if test="modifiedTimeBegin != null">
          and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
      </if>
      <if test="modifiedTimeEnd != null">
          and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
      </if>
  </select>

  <select id="selectBySkey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where f_skey = #{skey,jdbcType=VARCHAR}
    and f_del_flag = 0
  </select>
</mapper>