<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mapper.VideoClassificationMapper">
  <resultMap id="BaseResultMap" type="com.mq.model.VideoClassification">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_v_name" jdbcType="VARCHAR" property="vName" />
    <result column="f_created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="f_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="f_del_flag" jdbcType="BIT" property="delFlag" />
    <result column="f_sort" jdbcType="INTEGER" property="sort" />
    <result column="f_desc" jdbcType="VARCHAR" property="desc" />
    <result column="f_default_profit_share" jdbcType="DECIMAL" property="defaultProfitShare" />
    <result column="f_default_profit_sale" jdbcType="DECIMAL" property="defaultProfitSale" />
    <result column="f_default_free_watch_time" jdbcType="INTEGER" property="defaultFreeWatchTime" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, f_v_name, f_created_time, f_modified_time, f_del_flag, f_sort, f_desc, f_default_profit_share, 
    f_default_profit_sale, f_default_free_watch_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_video_classification
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_video_classification
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mq.model.VideoClassification">
    insert into t_video_classification (f_id, f_v_name, f_created_time, 
      f_modified_time, f_del_flag, f_sort, 
      f_desc, f_default_profit_share,
      f_default_profit_sale, f_default_free_watch_time
      )
    values (#{id,jdbcType=BIGINT}, #{vName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}, #{sort,jdbcType=INTEGER}, 
      #{desc,jdbcType=VARCHAR}, #{defaultProfitShare,jdbcType=DECIMAL},
      #{defaultProfitSale,jdbcType=DECIMAL}, #{defaultFreeWatchTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mq.model.VideoClassification">
    insert into t_video_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="vName != null">
        f_v_name,
      </if>
      <if test="createdTime != null">
        f_created_time,
      </if>
      <if test="modifiedTime != null">
        f_modified_time,
      </if>
      <if test="delFlag != null">
        f_del_flag,
      </if>
      <if test="sort != null">
        f_sort,
      </if>
      <if test="desc != null">
        f_desc,
      </if>
      <if test="defaultProfitShare != null">
        f_default_profit_share,
      </if>
        <if test="defaultProfitSale != null">
            f_default_profit_sale,
        </if>
      <if test="defaultFreeWatchTime != null">
        f_default_free_watch_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vName != null">
        #{vName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="defaultProfitShare != null">
        #{defaultProfitShare,jdbcType=DECIMAL},
      </if>
        <if test="defaultProfitSale != null">
            #{defaultProfitSale,jdbcType=DECIMAL},
        </if>
      <if test="defaultFreeWatchTime != null">
        #{defaultFreeWatchTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mq.model.VideoClassification">
    update t_video_classification
    <set>
      <if test="vName != null">
        f_v_name = #{vName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        f_del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="sort != null">
        f_sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        f_desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="defaultProfitShare != null">
        f_default_profit_share = #{defaultProfitShare,jdbcType=DECIMAL},
      </if>
        <if test="defaultProfitSale != null">
            f_default_profit_sale = #{defaultProfitSale,jdbcType=DECIMAL},
        </if>
      <if test="defaultFreeWatchTime != null">
        f_default_free_watch_time = #{defaultFreeWatchTime,jdbcType=INTEGER},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mq.model.VideoClassification">
    update t_video_classification
    set f_v_name = #{vName,jdbcType=VARCHAR},
      f_created_time = #{createdTime,jdbcType=TIMESTAMP},
      f_modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      f_del_flag = #{delFlag,jdbcType=BIT},
      f_sort = #{sort,jdbcType=INTEGER},
      f_desc = #{desc,jdbcType=VARCHAR},
      f_default_profit_share = #{defaultProfitShare,jdbcType=DECIMAL},
      f_default_profit_sale = #{defaultProfitSale,jdbcType=DECIMAL},
      f_default_free_watch_time = #{defaultFreeWatchTime,jdbcType=INTEGER}
    where f_id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByQuery" parameterType="com.mq.query.VideoClassificationQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_video_classification
    where f_del_flag = 0
    <if test="id != null">
      and f_id = #{id,jdbcType=BIGINT}
    </if>
    <if test="vName != null">
      and f_v_name like concat(concat("%",#{vName}),"%")
    </if>
      <if test="createdTime != null">
          and f_created_time = #{createdTime,jdbcType=DATE}
      </if>
      <if test="createdTimeBegin != null">
          and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
      </if>
      <if test="createdTimeEnd != null">
          and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
      </if>
      <if test="modifiedTime != null">
          and f_modified_time = #{modifiedTime,jdbcType=DATE}
      </if>
      <if test="modifiedTimeBegin != null">
          and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
      </if>
      <if test="modifiedTimeEnd != null">
          and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
      </if>
    <if test="sort != null">
      and f_sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="desc != null">
      and f_desc = #{desc,jdbcType=VARCHAR}
    </if>
    <if test="defaultProfitShare != null">
      and f_default_profit_share = #{defaultProfitShare,jdbcType=DECIMAL}
    </if>
      <if test="defaultProfitSale != null">
          and f_default_profit_sale = #{defaultProfitSale,jdbcType=DECIMAL}
      </if>
    <if test="defaultFreeWatchTime != null">
      and f_default_free_watch_time = #{defaultFreeWatchTime,jdbcType=INTEGER}
    </if>
    order by f_sort
  </select>
  <select id="selectNums" parameterType="com.mq.query.VideoClassificationQuery" resultType="java.lang.Long">
  select count(1) from t_video_classification
  where f_del_flag = 0
    <if test="id != null">
      and f_id = #{id,jdbcType=BIGINT}
    </if>
    <if test="vName != null and vName != ''">
      and f_v_name like concat(concat("%",#{vName}),"%")
    </if>
      <if test="createdTime != null">
          and f_created_time = #{createdTime,jdbcType=DATE}
      </if>
      <if test="createdTimeBegin != null">
          and f_created_time &gt;= #{createdTimeBegin,jdbcType=DATE}
      </if>
      <if test="createdTimeEnd != null">
          and f_created_time &lt;= #{createdTimeEnd,jdbcType=DATE}
      </if>
      <if test="modifiedTime != null">
          and f_modified_time = #{modifiedTime,jdbcType=DATE}
      </if>
      <if test="modifiedTimeBegin != null">
          and f_modified_time &gt;= #{modifiedTimeBegin,jdbcType=DATE}
      </if>
      <if test="modifiedTimeEnd != null">
          and f_modified_time &lt;= #{modifiedTimeEnd,jdbcType=DATE}
      </if>
    <if test="sort != null">
      and f_sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="desc != null">
      and f_desc = #{desc,jdbcType=VARCHAR}
    </if>
    <if test="defaultProfitShare != null">
      and f_default_profit_share = #{defaultProfitShare,jdbcType=DECIMAL}
    </if>
      <if test="defaultProfitSale != null">
          and f_default_profit_sale = #{defaultProfitSale,jdbcType=DECIMAL}
      </if>
    <if test="defaultFreeWatchTime != null">
      and f_default_free_watch_time = #{defaultFreeWatchTime,jdbcType=INTEGER}
    </if>
  </select>
</mapper>